%h1 Top#index
%p Find me in app/views/top/index.html.erb
-if user_signed_in?
  = link_to "ログアウトする",destroy_user_session_path,method: :delete,class: "btn loginPage-a_contents_btn"
-else
  = link_to "新規会員登録", new_user_registration_path, class: "btn loginPage-b_contents_btn"
  = link_to "ログインする", new_user_session_path, class: "btn loginPage-c_contents_btn"
.register-tab__box--text
  = link_to 'キャディ情報登録', new_report_path, class: "register-tab__box--text"
